.PetListMy {
  background: url('https://dtc-platform.oss-cn-shanghai.aliyuncs.com/static/pet_backgroud.png') no-repeat cen;
  background-size: 100%;

  .pet-list-title {
    .py-4 {
      padding: 0;
    }
  }

  .custompettips {
    .triangle {
      box-sizing: border-box;
      width: 0px;
      border: .5rem solid #000;
      border-top-color: transparent;
      border-bottom-color: #BEBEBE;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }

  .iconjia {
    top: 25%;
  }

  .bgacIImg {
    background: url('https://dtc-platform.oss-cn-shanghai.aliyuncs.com/static/pet_edit.png') no-repeat center;
    background-size: 100% 100% !important;
  }

  .Petpictureshadow {
    margin: 1rem auto;
  }

  .check-icon {
    background-color: gray;

    .at-icon-check {
      font-size: 24px !important;
    }

    &.bg-primary-red {
      background-color: rgba(211, 48, 36, var(--tw-bg-opacity));
    }
  }
}
