.address-item {
  .rc_divider {
    height: 1px !important;
    font-size: 12px !important;
    .at-divider__line{
      height: 1px !important;
      font-size: 12px !important;
      background-color: #D1D5DB!important;
    }
  }
}
