.poster-wrap{
    .layout-header__title{
        text-align: center;
    }
    .at-float-layout .layout-body,.at-float-layout .layout-body__content{
        min-height: 200px;
        max-height: 85vh;
    }
    .at-float-layout__container{
        max-height: 90vh;
        min-height: 200px;
    }
    .share-btn{
        &::before{
            border:0;
        }
        &::after{
            border:0;
        }
    }
}