.product-detail{
    .disabled{
        background: #cccccc;
        color: #afafaf;
        border: 1px solid #efefef;
        opacity: 1;
    }
    .active{
        color: #d33024;
        border: 1px solid #d33024;
    }
    .textWhite {
        color: #fff;
        background-color: #d33024;
    }
}

.out-stock-tip-modal{
  .at-modal__content{
    display: flex;
    justify-content: center;
    align-items: center;
    .content-simple{
      text-align: center;
    }
  }
}
