.product-detail{
    .disabled{
        background: #cccccc;
        color: #afafaf;
        border-color: #efefef;
        opacity: 1;
    }
    .active{
        color: #d33024;
        border-color: #d33024;
    }
    .textWhite {
        color: #fff;
        background-color: #d33024;
    }
    .comfirmaion-btn{
        .at-butto{
            padding: 0 28rpx;
            height: 84rpx;
        }
        .at-button__text{
            font-size: 28rpx;
        }
    }
    .at-input-number__input, .at-input-number input{
        width: 70rpx;
        min-height: 0.9rem;
        line-height: 1;
    }
    .at-input-number{
        // transform: scale(0.8);
        .at-input-number__input{
            // font-size: 0.7rem;
        }
        border-color: #eee;
        .at-input-number__btn{
            padding: 0 10rpx;
        }
        .at-icon{
            // font-size: 0.5rem;
        }
    }
    .at-input-number__input, .at-input-number input{
        border-color: #eee;
    }
    .buycount-input{
        .at-input-number__input{
            // display: flex;
            // justify-content: center;
            // align-items: center;
        }
    }
}

