.product-list {
    .buy-button{
        font-size: 0.6rem;
    }
    .origin-price{
        font-size: 0.5rem;
    }
    // 弹性伸缩盒子模型显示
    // 限制在一个块元素显示的文本的行数
    // 设置或检索伸缩盒对象的子元素的排列方式
    .text-overflow{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}