.product-list {
    .buy-button{
        font-size: 0.6rem;
    }
    .origin-price{
        font-size: 0.5rem;
    }
    // 弹性伸缩盒子模型显示
    // 限制在一个块元素显示的文本的行数
    // 设置或检索伸缩盒对象的子元素的排列方式
    .text-overflow{
        width: 200px;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .product-list-box {
        margin-top: 50rpx;
    }
}