.text-16{
  font-size: 16px;
}
.text-20{
  font-size: 20px;
}
.text-24{
  font-size: 24px;
}
.text-26{
  font-size: 26px;
}
.text-28{
  font-size: 28px;
}
.text-30{
  font-size: 30px;
}
.text-32{
  font-size: 32px;
}
.text-34{
  font-size: 34px;
}
.text-36{
  font-size: 36px;
}
.text-38{
  font-size: 38px;
}
.text-40{
  font-size: 40px;
}
.text-42{
  font-size: 42px;
}
.text-48{
  font-size: 48px;
}

.text-red{
  color:#d33024;
}

.rc-button.at-button{
  margin: 0;
}
.at-search-bar__placeholder-wrap{
  justify-content: left;
}
