.search{
    .at-search-bar__clear {
        height: 100%;
    }
    .ClickButton {
        border-width: 3rpx;
    }
    .cateClickButton {
        border-color: #D5D5D5;
    }
    .animal-color{
        border-color: #dc2626;
        color: #dc2626;
    }
    .at-button__text{
        display: flex;
        align-items: center;
    }
    .at-avatar__img{
        background-color: transparent !important;
    }
    .at-avatar {
        background-color: transparent;
    }
    .at-button__wxbutton{
        border-color: rgba(156, 163, 175, var(--tw-text-opacity));	
    }
    .search-filter-round1{
        border-radius: 0.375rem;
    }
    // .at-avatar__img{
    //     border-style: none !important;
    // }
    .line-height{
        line-height: 0;
    }

    .search-bar {
        border: none;
    }


    .at-search-bar__input-cnt {
        background: #eee;
        vertical-align: middle;
        height: 70rpx;
        line-height: 70rpx;
        border-radius: 50rpx;
        input {
            height: 70rpx !important;
            line-height: 70rpx !important;
        }
    }

    .at-search-bar__action {
        opacity: 1;
        margin-right: 0;
        border-radius: 50rpx;
        margin-left: 44rpx;
        width: 100rpx;
        text-align: center;
        height: 70rpx;
        line-height: 70rpx;
        vertical-align: middle;
    }
    .at-search-bar::after {
        display: none !important;
    }
    .more {
        margin-top: 17rpx;
    }
    .moreIcon {
        margin-top: 20rpx;
    }
}
