
.borderLine {
  border-bottom: 1px solid #d33024;
  border-bottom-width: 8px;
  width: 30px;
  margin-top: 8px;
}

.FreshnessBox.at-checkbox {
  display: flex;
  flex-direction: row;

  &::before {
    border: none !important;
  }

  &::after {
    border: none !important;
  }

  .at-checkbox__option {
    width: 116px;
    height: 48px;
    line-height: 27px;
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;

    .at-checkbox__option-wrap {
      padding: 0 !important;
      height: 100%;

      .at-checkbox__option-cnt {
        height: 100%;
      }
    }

    .at-checkbox__title {
      color: #999999;
    }

    .at-checkbox__option-cnt {
      justify-content: center;
    }

    .at-checkbox__icon-cnt {
      display: none;
    }
  }

  .at-checkbox__option--selected {
    background-color: #d33024;

    .at-checkbox__title {
      color: #ffffff;
    }

  }


}
.divider{
  border-top: 1px solid #EBEBEB;
  width: 100%;
  margin: 20px auto;
}