.customer-service-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 112rpx;
  height: 112rpx;
  color: #fff;
  font-size: 28rpx;
  line-height: 1.5;
  text-align: center;
  border-radius: 50%;
  //box-shadow: 0 6rpx 10rpx -2rpx rgba(0, 0, 0, 0.2), 0 12rpx 20rpx 0 rgba(0, 0, 0, 0.14),
  //  0 2rpx 36rpx 0 rgba(0, 0, 0, 0.12);
  //box-sizing: border-box;
}
