.customer-service-button {
  display: flex;
  border-color: #fff;
  color: #fff;
  &:after {
    border: none !important;
    border-radius: 0;
  }
}

.customer-service-size {
  width: 112rpx;
  height: 112rpx;
  border-radius: 50%;
}
