.order-list-tab.at-tabs {
  .at-tabs__header {
    .at-tabs__item {
      font-size: 24px;
    }
  }
}

.order-to-ship-modal {
  .at-modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    .content-simple {
      text-align: center;
    }
  }
}
