.total-check-button.at-button {
  color: white;
  background: #d33024;
  border-color: #d33024;
  border-radius: 48px;
  padding: 0 6px;
  height: 70px;
  width: 200px;
  line-height: 68px;
  font-size: 24px !important;
  margin-right: 48px;
}
