.total-settle-button.at-button {
  color: white;
  background: #d33024;
  border-color: #d33024;
  border-radius: 48px;
  padding: 0 10px;
  height: 78px;
  line-height: 76px;
}

.total-check-button.at-button{
  margin-right: 48px;
  // background-color: #d33024;
}

.totalcheck{
  width: 100%;
  height: 75px;
}