.Account {
  .NewbieIcon {
    width: 0.7rem;
    height: 0.75rem;
    line-height: 0.7rem;
  }
  .AddressButton.at-button {
    font-size: 22px !important;
    height: 44px !important;
    line-height: 40px !important;
    border: 2px solid #a0a0a0 !important;
  }
  .LevelColor {
    color: #737373;
  }
}
