.Account {
    .NewbieIcon {
        width: 0.6rem;
        height: 0.65rem;
        line-height: 0.6rem;
        
    }
    .AddressButton {
        font-size: 24rpx !important;
        height: 44rpx !important;
        line-height: 100%;
        border: 1rpx solid #a0a0a0 !important;
    }
    .LevelColor{
        color: #737373;
    }
}