.Account {
    .NewbieIcon {
        width: 0.6rem;
        height: 0.65rem;
        line-height: 0.6rem;
    }
    .AddressButton {
        font-size: 24rpx !important;
        line-height: 100%;
    }
}