.searchfloatlayout{
    .animal-color{
        border-color: #dc2626;
        color: #dc2626;
    }
    .ClickButton{
        border-color: rgba(209, 213, 219, var(--tw-text-opacity));
    }
    .at-avatar__img{
        background-color: white !important;
    }
}
