.navbarforlist {
  .triangle {
    box-sizing: border-box;
    width: 0px;
    border: 2.2vw solid;
    border-top-color: transparent;
    border-bottom-color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: 50vw;
  }
}
.product-list-navbar{
  .at-search-bar__action,.at-search-bar__clear{
    display: none;
}
.at-search-bar::after{
    border-bottom-width:0px;
    border:0px;
}
.at-search-bar:after{
    border-bottom-width:0px;
    border:0px;

}
 } 
