.card {
    width: 90vw;
    padding: 2vw;
    background-color: #fff;
    overflow: hidden;
    border-radius: 14rpx;

    .copy {
        border-radius: 28rpx;
        background-color: #e7e7e7;
        padding: 0 15px;
        font-size: 22rpx;
    }
    
    .ProductIntroduction {
        font-size: 20rpx ;
    }
    
    .headerText {
        border-bottom: 1px solid rgb(232, 232, 232);
        margin-bottom: 18rpx;
        padding-bottom: 8rpx;
    }
    
    .footerText {
        padding-top: 22rpx;
        border-top: 1px solid rgb(232, 232, 232);
        font-size: .6rem;
    }
}