.sub-list {

  .at-progress__outer-inner-background {
    border-radius: 20px;
  }

  .at-progress__outer-inner {
    border: 5px solid rgb(231, 238, 231);
    border-radius: 20px;
  }

  .at-button {
    border-radius: 14px;
  }

  .list-item-title {
    position: relative;

    &:after {
      bottom: -18px;
      left: 0;
      content: '';
      position: absolute;
      height: 6px;
      width: 40px;
      background-color: #d33024;
    }
  }

  .card {
    height: 30px;
    background: #EFBD61;
    border-radius: 4px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
    padding: 1px 8px;
  }

  .RenewButton {
    width: 205px;
    height: 72px;
    background: #D33024;
    border-radius: 10px;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 72px;
    text-align: center;
  }
}

.copy {
  border-radius: 28rpx;
  background-color: #e7e7e7;
  padding: 0 15px;
  font-size: 22rpx;
}
